<!DOCTYPE html>
<html>
    <head>
        <title>Nasa APOD replica</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="./style.css"/>
    </head>
    <body>
        <div class="container">

            <!-- Header section  -->
            <h1 class="header"> </h1>
            <input type="date" name="astro_date" class="astro_date" placeholder="Select Date" onchange="getAstroData(this)">
        
           <div class="media"></div>
           
            <p class="description">
                Explaination: 
            </p>
            <script src="./script.js"></script>
        </div>
    </body>
</html>